html {
  background-color: #42a4f4;
}
#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}
.slika {
  width: 100px;
  height: 100px;
  padding: 20px;
  border: 1px black dotted;
}
.slika:hover {
  width: 150px;
  height: 150px;
  padding: 20px;
  border: 1px red solid;
}
.btn{
  width: 150px;
  height: 40px;
  background-color: grey;
  border-width: medium;
}
.btn:hover {
  background-color: #4CAF50;
  color: red;
  border-width: thin;
}
.find{
  background-color: white;
  color: blue;
}
::-webkit-input-placeholder { /* Chrome */
  color: black;
  font-style: italic;
  font-weight: bold;
}
